<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="xx-home">
        {% include header.html %}
        <div class="xx-container">
            <div class="xx-hero">
                <h1 class="xx-hero__h">Web Style Guide</h1>
                <div class="xx-hero__bd">
                    <p>I'm Lost Boy. Can you fly me through this website?</p>
                </div><!-- /xx-hero__bd -->
                <a href="{{ site.baseurl }}/patterns/" class="xx-btn xx-btn--rev xx-btn--large">To the library!</a>
            </div><!-- /xx-hero -->
        </div><!-- /xx-container -->
    </body>
</html>